@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Poppins", sans-serif;
  --bg-color: #eaefef;
  --text-color: #333446;
  --padding: 2rem;
  --margin: 2rem 4rem;
  --bg-color-button: #b8cfce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

